<ion-view view-title="Add Experience" id="page-addExperience" cache-view="false">
  <ion-header-bar class="bar-energized">
    <div class="buttons" ng-hide="vname == 'salesman'">
      <button class="button back-bcolor" ng-click="goBack()"><i class="icon ion-chevron-left"></i></button>
    </div>
    <span class="title header-title" style="font-weight: 700" ng-if="vname == 'salesmanExperience'">Add Experience</span>
    <span class="title header-title" style="font-weight: 700" ng-if="vname == 'salesman'">Add Last Experience</span>
  </ion-header-bar>
  <ion-content padding="true" class="has-header">
    <form name="experienceform" ng-submit="experienceSubmit(selectedShop,designation,selected,fromyear,toyear,address,pincode,salary)">
      <div class="list list-lr-padding">



        <label class=" item-input item-floating-label" id="experience-company" name="company">
          <span class="input-label">Shop Name</span>
          <span ng-show="experienceform.company.$touched && experienceform.company.$invalid" style="color:red" >* Invalid Name</span>
          <input type="text" placeholder="Shop Name" name="company" required ng-model="selectedShop" id="selectedShop" ng-change="search(selectedShop)" ng-pattern="/^[a-zA-Z\s]*$/">


          <!-- <select id="experience-company" ng-options="item as item.name for item in shopnames track by item.id" ng-model="selectedShop" required>
        </select> -->
      </label>
      <ion-list ng-show="searched">
        <ion-item ng-repeat="list in shopnames | filter:selectedShop" 
        ng-click="clicked(list.name)">
        {{list.name}}
      </ion-item>
    </ion-list>


      <!--   <label class=" item-input item-floating-label" id="experience-department" name="department">
        <span class="input-label">Department</span>
        <span ng-show="experienceform.department.$touched && experienceform.department.$invalid" style="color:red" >* Invalid </span>
        <input type="text" placeholder="Department" name="department" required ng-model="department"
        ng-pattern="/^[a-zA-Z\s]*$/">
      </label> -->


      <label class=" item-input select-height" id="experience-department" name="department">
        <!-- <span class="input-label">Department</span> -->
        <span ng-show="experienceform.department.$touched && experienceform.department.$invalid" style="color:red" >* Invalid </span>
        <select id="experience-department" ng-options="item as item.department for item in items track by item.id" ng-model="selected" required>
        </select>
      </label>
      <p id="depterror" ng-show="errordept"></p>
  

      <label class=" item-input item-floating-label" id="experience-designation" name="designation">
        <span class="input-label">Designation</span>
        <span ng-show="experienceform.designation.$touched && experienceform.designation.$invalid" style="color:red" >* Invalid </span>
        <input type="text" placeholder="Designation" name="designation" required ng-model="designation"
        ng-pattern="/^[a-zA-Z\s]*$/">
      </label>

      <label class=" item-input item-floating-label" id="experience-fromyear" name="department">
        <span class="input-label">From year</span>
        <span ng-show="experienceform.fromyear.$touched && experienceform.fromyear.$invalid" style="color:red" >* Invalid </span>
        <input type="number" placeholder="From Year" name="fromyear" required ng-model="fromyear" ng-pattern="/^[12]\d{3}$/" min="1950" max="{{currentYear}}">
      </label>

      <p id="yearerror" ng-show="error"></p>

      <label class=" item-input item-floating-label" id="experience-toyear" name="department">
        <span class="input-label">To year</span>
        <span ng-show="experienceform.toyear.$touched && experienceform.toyear.$invalid" style="color:red" >* Invalid </span>
        <input type="number" placeholder="To Year" name="toyear" required ng-model="toyear" ng-pattern="/^[12]\d{3}$/" min="1950" max="{{currentYear}}">
      </label>



        <!-- <label class=" item-input item-floating-label" id="experience-years" name="years">
          <span class="input-label">Years</span>
          <span ng-show="experienceform.years.$touched && experienceform.years.$invalid" style="color:red" >* Years invalid</span>
          <input type="number" placeholder="Years" name="years" required ng-model="years">
        </label> -->



        <label class=" item-input item-floating-label" id="experience-address" name="address">
          <span class="input-label">Address</span>
          <span ng-show="experienceform.address.$touched && experienceform.address.$invalid" style="color:red" >*</span>
          <!-- <input type="text"  ng-autocomplete ng-model="address" options="options" details="details"/> -->
          <!-- <input type="text" id="pac-input"  ng-model="address" ng-change='disableTap()' data-tap-disabled="true" placeholder="Location" /> -->
          <input type="text" placeholder="Location" name="address" ng-model="address">

          <!-- <input type="text" placeholder="Location" location-suggestion location="location" ng-model="location.formatted_address"> -->
        </label>


        <label class="item-input item-floating-label" id="experience-pincode" name="pincode">
          <span class="input-label">Pincode</span>
          <span ng-show="experienceform.pincode.$touched && experienceform.pincode.$invalid" style="color:red" >* </span>
          <input type="number" placeholder="Pincode" name="pincode" required ng-model="pincode">
        </label>

        <label class=" item-input item-floating-label" id="experience-salary" name="salary">
          <span class="input-label">Salary</span>
          <span ng-show="experienceform.salary.$touched && experienceform.salary.$invalid" style="color:red" >* Salary invalid</span>
          <input type="number" placeholder="Salary" name="salary" required ng-model="salary">
        </label>


      </div>

      <button style="font-weight:600;border-radius:25px 25px 25px 25px; width: 120px" class="button" id="addExperience-save-button" ng-disabled="experienceform.$invalid">
        Submit
      </button>
    </form>
  </ion-content>


  <script id="location.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input type="search" ng-model="search.query" placeholder="Search">
        </label>
      </ion-header-bar>
      <ion-content>
        <ion-list>
          <ion-item ng-show="search.error">
            {{search.error}}
          </ion-item>
          <ion-item ng-repeat="suggestion in search.suggestions" ng-click="choosePlace(suggestion)">
            {{suggestion.description}}
          </ion-item>
        </ion-list>
        <img src="https://developers.google.com/maps/documentation/places/images/powered-by-google-on-white.png" alt="" />
      </ion-content>
    </ion-modal-view>
  </script>


</ion-view>