<ion-view view-title="Add Shop" id="page-addShop" cache-view="false">

  <ion-header-bar  class="bar-energized">
    <div class="buttons">
      <button class="button back-bcolor" ng-click="goBack()"><i class="icon ion-chevron-left"></i></button>
    </div>
    <span class="title header-title" style="font-weight: 700">Add Shop</span>

  </ion-header-bar>
  <ion-content padding="true" class="has-header">
    <form name="shopform" ng-submit="shopSubmit(name,selected,totime,fromtime,contact,address,pincode,established_year)">

      <div class="list">

       <ion-slides id="slide-shopimage" options="options" slider="data.slider">
         <ion-slide-page ng-repeat="image in srcImage track by $index" ng-show="srcImage">
           <img ng-src="{{image}}" ng-click="openModal(image)" style="width: 100%">
         </ion-slide-page>

         <ion-slide-page>
          <img ng-src="{{addShopImage}}" ng-click="uploadimg()" id="shop-image" style="width: 100%">
        </ion-slide-page>

      </ion-slides>


      <label class=" item-input item-floating-label" id="shop-name" name="name">
        <span class="input-label">Shop name</span>
        <span ng-show="shopform.name.$touched && shopform.name.$invalid" style="color:red" >* Invalid Name</span>
        <input type="text" placeholder="Shop Name" name="name" required ng-model="name"
        ng-pattern="/^[a-zA-Z\s]*$/">
      </label>

      <label class="item-input select-height" id="shop-department" name="shop-department">
        <!-- <span class="input-label">Department</span> -->
        <span ng-show="shopform.shop-department.$touched && shopform.shop-department.$invalid" style="color:red" >*</span>
        <select id="shop-department" ng-options="item as item.department for item in items track by item.id" ng-model="selected" required>
        </select>
        
      </label>
          <p id="depterror" ng-show="errordept"></p>

      <label class="item item-input" id="shop-fromtime">
        <span class="input-label">Shop Opening Time</span>
        <span ng-show="shopform.shopDepartment.$touched && shopform.shopDepartment.$invalid" style="color:red" >*</span>
        <input type="time" id="shop-fromtime" ng-model="fromtime" name="fromtime" formatted-time>
      </label>
      <p id="timeerror" ng-show="error"></p>

      <label class="item item-input" id="shop-totime">
        <span class="input-label">Shop Closing Time</span>
        <span ng-show="shopform.shopDepartment.$touched && shopform.shopDepartment.$invalid" style="color:red" >*</span>
        <input type="time" id="shop-totime" ng-model="totime" name="totime" formatted-time>
      </label>



      <label class=" item-input item-floating-label" id="shop-contact" name="contact">
        <span class="input-label">Contact</span>
        <span ng-show="shopform.contact.$touched && shopform.contact.$invalid" style="color:red" >* Contact invalid</span>
        <input type="text" placeholder="Contact" name="contact" required ng-model="contact"  ng-maxlength="12">
      </label>

      <label class=" item-input item-floating-label" id="shop-year" name="established_year">
        <span class="input-label">Established Year</span>
        <span ng-show="shopform.established_year.$touched && shopform.established_year.$invalid" style="color:red" >* Year invalid</span>
        <input type="text" placeholder="Established Year" name="established_year" required ng-model="established_year" ng-pattern="/^[12]\d{3}$/">
      </label>

      <label class=" item-input item-floating-label" id="shop-address" name="address">
        <span class="input-label">Address</span>
        <span ng-show="shopform.address.$touched && shopform.address.$invalid" style="color:red" >*</span>
        <!-- <input type="text"  ng-autocomplete ng-model="address" options="options" details="details"/> -->
        <!-- <input type="text" id="pac-input"  ng-model="address" ng-change='disableTap()' data-tap-disabled="true" placeholder="Location"/> -->
        <input type="text" placeholder="Location" name="address" ng-model="address">

        <!-- <input type="text" placeholder="Location" location-suggestion location="location" ng-model="location.formatted_address"> -->

      </label>

      <label class=" item-input item-floating-label" id="shop-pincode" name="pincode">
        <span class="input-label">Pincode</span>
        <span ng-show="shopform.pincode.$touched && shopform.pincode.$invalid" style="color:red" >*</span>
        <input type="number" placeholder="Pincode" name="pincode" required ng-model="pincode" ng-maxlength="10">
      </label>

    </div>

    <button style="font-weight:600;border-radius:25px 25px 25px 25px; width: 120px" class="button" id="addShop-save-button" ng-disabled="shopform.$invalid">
      Save
    </button>
  </form>
</ion-content>


<script id="modal.html" type="text/ng-template">
  <ion-modal-view class="modal-addShop-images">
    <ion-header-bar class="bar-energized">
      <button class="button button-clear button-primary" ng-click="modal.hide()" style="margin-left: 90%;"><i class="icon ion-close-circled" style="color: white;"></i></button>
    </ion-header-bar>
    <ion-content>
        <!-- <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
          <img ng-src="{{imgUrl}}">
        </ion-scroll> -->
        <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
          <img ng-src="{{imgUrl}}" height="100%" width="100%">
        </ion-scroll>
      </ion-content>
      <div class="bar bar-footer bar-light footer-buttons">
        <div class="row">
          <div class="col">
            <button class="button icon ion-trash-b" ng-click="deleteimg(imgUrl)"></button>
          </div>
        </div>
      </div>
    </ion-modal-view>
  </script>

<!-- 
  <script id="location.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input type="search" ng-model="search.query" placeholder="Search">
        </label>
      </ion-header-bar>
      <ion-content>
        <ion-list>
          <ion-item ng-show="search.error">
            {{search.error}}
          </ion-item>
          <ion-item ng-repeat="suggestion in search.suggestions" ng-click="choosePlace(suggestion)">
            {{suggestion.description}}
          </ion-item>
        </ion-list>
        <img src="https://developers.google.com/maps/documentation/places/images/powered-by-google-on-white.png" alt="" />
      </ion-content>
    </ion-modal-view>
  </script>
-->

</ion-view>