<ion-view view-title="" id="page-allSalesman">
	<ion-nav-title>
		<span class="header-title">All Salesman</span>
	</ion-nav-title>
	<ion-nav-buttons side="right">
		<button class="button button-icon ion-android-search" 
		ng-click="showFilterBar()"></button>
	</ion-nav-buttons> 
	<ion-content padding="true" class="has-header">
		<ion-refresher
		pulling-text="Pull to refresh..."
		on-refresh="doRefresh()">
	</ion-refresher>
	<div class="spinner" ng-if="loading == true">
		<ion-spinner icon="crescent" class="spinner-energized"></ion-spinner>
	</div>
	<ion-slides ng-if="search == false" ng-if="loading == false" id="slide-retailer" options="options" slider="data.slider">
		<ion-slide-page ng-repeat="item in salesman | limitTo: 3" ng-click="salesmanDetail(item.id)">
			<div class="card">
				<div class="item item-divider item-energized header">
					<span id="slider-topsalesman-head"> TOP SALESMAN</span>
				</div>
				<div id="sal-card-height" class="item item-text-wrap">
					<img class="img-slider" ng-src="{{item.image}}" alt="{{ item.name }} Photo" height="65" width="65">
					<h2 class="name"> {{item.name | capitalize }} </h2>
					<p class="slider-content">{{item.describe_yourself | limitTo: 50}} {{ item.describe_yourself.length > 50 ? '&hellip;' : '' }} </p>
				</div>
			</div>
		</ion-slide-page>
	</ion-slides>
	<center class="other-text" ng-hide="search || hide" ng-if="loading == false">
		Other Salesman
	</center>
	<ion-list class="ion-item-color"  ng-if="loading == false">
		<ion-item id="all-salesman-card-height" class="card item-text-wrap ion-item-radius"  ng-repeat='item in salesman' ng-click="salesmanDetail(item.id)"> 
			<div class="home-card h-card row">
				<div class="col col-20">
					<img ng-src="{{item.image}}" alt="{{ item.name }} Photo" id="allSalesman-img-card" height="55" width="55">
				</div>
				<div class="col col-80 card-content">
					<h2 class="item-name">
						<span class="sal-name">{{item.name | capitalize}}</span>
						<br>
						<span class="item-address">
							{{item.address | limitTo: 50}}
							{{ item.address.length > 50 ? '&hellip;' : '' }}
						</span>
						<br>
						<span class="item-description">{{item.describe_yourself | limitTo: 50}} {{ item.describe_yourself.length > 50 ? '&hellip;' : '' }}</span>
					</h2> 
				</div>
			</div>
		</ion-item>
	</ion-list>
	<div ng-show="true">
		<h3 style="color: white"><center>No Salesman Found</center></h3>
	</div>
</ion-content>
</ion-view>