<ion-view id="page-experienceDetail" view-title="Experience Details" cache-view="false">
	<ion-header-bar  class="bar-energized">
		<div class="buttons">
			<button class="button back-bcolor" ng-click="goBack()"><i class="icon ion-chevron-left"></i></button>
		</div>
		<span class="title header-title" style="font-weight: 700">
			Experience Details
		</span>
	</ion-header-bar>
	<ion-content padding="true" class="has-header">
		<div class="spinner" ng-if="loading == true">
			<ion-spinner icon="crescent" class="spinner-energized"></ion-spinner>
		</div>
		<ion-list>
			<ion-item ng-if="loading == false" class="item-text-wrap ion-item-radius" id="profile-content">
				<!-- <div class="row">
					<div class="col ">
						<strong>Company</strong> <br> <br>
						<strong>Designation</strong> <br> <br>
						<strong>Department</strong> <br><br>
						<strong>From Year</strong> <br><br>
						<strong>To Year</strong> <br><br>
						<strong>Years</strong> <br><br>
						<strong>Salary</strong> <br><br>
					</div>
					<div class="col col-10">
						:<br><br>
						:<br><br>
						:<br><br>
						:<br><br>
						:<br><br>
						:<br><br>
						:<br><br>
					</div>
					<div class="col">
						{{experience.company | capitalize}}<br><br>
						{{experience.designation | capitalize}}<br><br>
						{{experience.department | uppercase}}<br><br>
						{{experience.from_year}}<br><br>
						{{experience.to_year}}<br><br>
						{{experience.years}}<br><br>
						{{experience.salary}}<br><br>
					</div>
				</div> -->
				<div id="mar-left-exp-add">
					<strong>Company</strong> <br> 
					{{experience.company | capitalize}}<br><br>
					<strong>Designation</strong> <br> 
					{{experience.designation | capitalize}}<br><br>
					<strong>Department</strong> <br>
					{{experience.department }}<br><br>
					<strong>From Year</strong> <br>
					{{experience.from_year}}<br><br>
					<strong>To Year</strong> <br>
					{{experience.to_year}}<br><br>
					<strong>Years</strong> <br>
					{{experience.years}}<br><br>
					<strong>Salary</strong> <br>
					{{experience.salary}}<br><br>
					<strong>Address</strong> <br>
					{{experience.address | capitalize}},{{pincode}}
				</div>
				
			</ion-item>
		</ion-list>
	</ion-content>
	<ion-floating-button ng-if="loading == false" ng-click="openModal()" has-footer="true" button-color="#f99e09" icon="ion-edit" icon-color="#fff">button
	</ion-floating-button>
	<script id="modal.html" type="text/ng-template">
		<ion-modal-view class="modal-editSalesmanExperience">
			<ion-header-bar class="bar-energized">
				<span class="title header-title" style="font-weight: 700">Edit Experience</span>
				<button class="button button-clear button-primary" ng-click="modal.hide()" style="margin-left: 90%;"><i class="icon ion-close-round"></i>
				</button>
			</ion-header-bar>
			<ion-content>
				<form name="experienceform" ng-submit="experienceUpdate(selectedShop,designation,selected,fromyear,toyear,address,pincode,salary)">
					<div class="list list-lr-padding">
						<label class=" item-input item-floating-label" id="experience-company" name="company">
							<span class="input-label">Company name</span>
							<span ng-show="experienceform.company.$touched && experienceform.company.$invalid" style="color:red" >* Invalid Name</span>
							<!-- <input type="text" placeholder="Company Name" name="company" required ng-model="company"
							ng-pattern="/^[a-zA-Z\s]*$/"> -->
							<input type="text" placeholder="Shop Name" name="company" required ng-model="selectedShop" id="selectedShop" ng-change="search(selectedShop)" ng-pattern="/^[a-zA-Z\s]*$/">
							<!-- <select id="experience-company" ng-options="item as item.name for item in shopnames track by item.id" ng-model="selectedShop" required>
						</select> -->
					</label>
					<ion-list ng-show="searched">
						<ion-item ng-repeat="list in shopnames | filter:selectedShop" 
						ng-click="clicked(list.name)">
						{{list.name}}
					</ion-item>
				</ion-list>

				

				<label class=" item-input select-height" id="experience-department" name="department">
					<!-- <span class="input-label">Department</span> -->
					<span ng-show="experienceform.department.$touched && experienceform.department.$invalid" style="color:red" >* Invalid </span>
							<!-- <input type="text" placeholder="Department" name="department" required ng-model="department"
							ng-pattern="/^[a-zA-Z\s]*$/"> -->
							<select id="experience-department" ng-options="item as item.department for item in items track by item.id" ng-model="selected" required>
							</select>
						</label>

						<label class=" item-input item-floating-label" id="experience-designation" name="designation">
							<span class="input-label">Designation</span>
							<span ng-show="experienceform.designation.$touched && experienceform.designation.$invalid" style="color:red" >* Invalid </span>
							<input type="text" placeholder="Designation Name" name="designation" required ng-model="designation"
							ng-pattern="/^[a-zA-Z\s]*$/">
						</label>
						
						<label class=" item-input item-floating-label" id="experience-fromyear" name="department">
							<span class="input-label">From year</span>
							<span ng-show="experienceform.fromyear.$touched && experienceform.fromyear.$invalid" style="color:red" >* Invalid </span>
							<input type="text" placeholder="From Year" name="fromyear" required ng-model="fromyear" ng-pattern="/^[12]\d{3}$/">
						</label>
						<p id="yearerror" ng-show="error"></p>
						
						<label class=" item-input item-floating-label" id="experience-toyear" name="department">
							<span class="input-label">To year</span>
							<span ng-show="experienceform.toyear.$touched && experienceform.toyear.$invalid" style="color:red" >* Invalid </span>
							<input type="text" placeholder="To Year" name="toyear" required ng-model="toyear" ng-pattern="/^[12]\d{3}$/">
						</label>

						<!-- <label class=" item-input item-floating-label" id="experience-years" name="years">
							<span class="input-label">Years</span>
							<span ng-show="experienceform.years.$touched && experienceform.years.$invalid" style="color:red" >* Years invalid</span>
							<input type="number" placeholder="Years" name="years" required ng-model="years">
						</label> -->



						<label class=" item-input item-floating-label" id="experience-address" name="address">
							<span class="input-label">Address</span>
							<span ng-show="experienceform.address.$touched && experienceform.address.$invalid" style="color:red" >*</span>
							<input type="text"  ng-model="address" options="options" details="details"/>
							<!-- <input type="text" id="pac-input"  ng-model="address" ng-change='disableTap()' data-tap-disabled="true" placeholder="Location" /> -->
							<!-- <input type="text" placeholder="Location" ng-model="address"> -->

						</label>

						<label class="item-input item-floating-label" id="experience-pincode" name="pincode">
							<span class="input-label">Pincode</span>
							<span ng-show="experienceform.pincode.$touched && experienceform.pincode.$invalid" style="color:red" >*</span>
							<input type="number" placeholder="Pincode" name="pincode" required ng-maxlength="10" ng-model="pincode">
						</label>

						<label class=" item-input item-floating-label" id="experience-salary" name="salary">
							<span class="input-label">Salary</span>
							<span ng-show="experienceform.salary.$touched && experienceform.salary.$invalid" style="color:red" >* Salary invalid</span>
							<input type="number" placeholder="Salary" name="salary" required ng-model="salary">
						</label>


					</div>

					<button style="font-weight:600;border-radius:25px 25px 25px 25px; width: 120px" class="button" id="editExperience-save-button">Save</button>
				</form>

			</ion-content>
		</ion-modal-view>
	</script>



</ion-view>

