<ion-view view-title=""  id="page-homeSalesman" cache-view="false">
	<ion-nav-title>
		<span class="header-title">Salesman Home</span>
	</ion-nav-title>
	<ion-nav-buttons side="right">
		<button class="button button-icon ion-android-search" 
		ng-click="showFilterBar()"></button>
	</ion-nav-buttons>

	<ion-content padding="true" class="has-header">
		<div class="spinner" ng-if="loading == true">
			<ion-spinner icon="crescent" class="spinner-energized"></ion-spinner>
		</div>
		<ion-refresher 
		pulling-text="Pull to refresh..." 
		pulling-icon="ion-arrow-down-b"
		on-refresh="doRefresh()">
	</ion-refresher>
	<ion-slides ng-if="search == false" id="slide-salesman" options="options" slider="data.slider">
		
		<ion-slide-page ng-repeat="item in premiumjobs | limitTo: 3" ng-click="jobDetail(item.id)">
			<div class="card" id="premium-card">
				<div class="item item-divider item-energized header">
					<span class="slide-header">PREMIUM JOBS</span>
				</div>
				<div id="bg" class="item item-text-wrap">

					<h2 class="slider-h2">
						<center> {{item.shop.name | capitalize:true}} </center>
					</h2>
					<h2 class="slider-h2"><center>{{item.title | capitalize}}</center>  </h2>
					<h2 class="slider-h2"><center> <i class="ion-location"></i> {{item.shop.address}} </center></h2>
				<!-- 	<p>
					{{item.description | limitTo: 150 | capitalize}} {{ item.description.length > 150 ? '&hellip;' : '' }}
				</p> -->
			</div>
		</div>
	</ion-slide-page>
</ion-slides> 


<div class="button-bar" ng-if="search == false">
	<a class="button" ng-model="button.first" ng-click="click(button.matchingJobs)" ng-class="button.matchingJobs.clicked?'button-clicked':'button-unclicked'">
		 Matching Jobs
	</a>
	<a class="button" ng-model="button.second" ng-click="click(button.otherJobs)" ng-class="button.otherJobs.clicked?'button-clicked':'button-unclicked'">
		Other Jobs
	</a>
</div>

	<!-- <center class="other-text" ng-hide="search" ng-if="loading == false">
		Other Available Jobs
	</center> -->
	<ion-list class="ion-item-color" ng-if="button.otherJobs.clicked == true">
		<ion-item id="other-jobs" class="card item-text-wrap ion-item-radius" ng-repeat='item in otherjobs'>
			<div class="row">
				<div class="col col-33">
					<h2 class="other-jobs-head">
						<strong>Shop name</strong><br>
						<strong>Job title</strong> <br> 
						<strong>Vacancies</strong><br>
					</h2> 
				</div>
				<div class="col col-10">
					<h2 class="other-jobs-head">
						- <br>
						- <br>
						- <br>
					</h2>
				</div>
				<div class="col">
					<h2 class="other-jobs-head">
						{{item.shop.name  | capitalize }}<br>
						{{item.title | capitalize:true}}<br>
						{{item.requirement }}<br>
					</h2>
				</div>
			</div>	
			<div class="row">
				<button class="button" id="apply-button-list" ng-click="applyJob(item.id)">Apply</button>
			</div>
		</ion-item>
	</ion-list>

	<ion-list class="ion-item-color" ng-if="button.matchingJobs.clicked == true">
		<ion-item id="other-jobs" class="card item-text-wrap ion-item-radius" ng-repeat='item in matchedjobs'>
			<div class="row">
				<div class="col col-33">
					<h2 class="other-jobs-head">
						<strong>Shop name</strong><br>
						<strong>Job title</strong> <br> 
						<strong>Vacancies</strong><br>
					</h2> 
				</div>
				<div class="col col-10">
					<h2 class="other-jobs-head">
						- <br>
						- <br>
						- <br>
					</h2>
				</div>
				<div class="col">
					<h2 class="other-jobs-head">
						{{item.shop.name  | capitalize }}<br>
						{{item.title | capitalize:true}}<br>
						{{item.requirement }}<br>
					</h2>
				</div>
			</div>	
			<div class="row">
				<button class="button" id="apply-button-list" ng-click="applyJob(item.id)">Apply</button>
			</div>
		</ion-item>
		<div class="nomatchedJobsFound" ng-if="nomatchedJobs === true">
			No matching Jobs Found		
		</div>
	</ion-list>

</ion-content>
</ion-view>