<ion-view view-title="Job Info" cache-view="false" id="page-jobDetail">

 <ion-header-bar  class="bar-energized">
  <div class="buttons">
    <button class="button back-bcolor" ng-click="goBack()"><i class="icon ion-chevron-left"></i></button>
  </div>
  <span class="title header-title" style="font-weight: 700">Job Info</span>

  <!-- <h1 class="title">Job Info</h1> -->

</ion-header-bar>

<ion-content padding="true" class="has-header">
  <ion-refresher
  pulling-text="Pull to refresh..."
  pulling-icon="ion-arrow-down-b"
  on-refresh="doRefresh()">
</ion-refresher>

<div class="spinner" ng-if="loading == true">
  <ion-spinner icon="crescent" class="spinner-energized"></ion-spinner>
</div>



  <!-- <div class="row" ng-if="loading == false">
    <div class="col">
      <strong>Title</strong> <br> <br>
      <strong>Working Hours</strong> <br><br>
      <strong>Requirement</strong> <br><br>
      <strong>Department</strong> <br><br>
      <strong>Salary Basis</strong> <br><br>
      <strong>Positions Filled</strong> <br><br>
    </div>
    <div class="col col-10">
      :<br><br>
      :<br><br>
      :<br><br>
      :<br><br>
      :<br><br>
      :<br><br>
    </div>
    <div class="col col-50">
      {{job.title | capitalize}}<br><br>
      {{job.shop.working_hours}}<br><br>
      {{job.requirement}}<br><br>
      {{job.shop.department | uppercase}}<br><br>
      {{job.salary_basis}}<br><br>
      {{job.filled }}<br><br>
    </div>
  </div> -->

  <div id="mar-left-ret-add" ng-if="loading == false">
   <strong>Title</strong> <br> 
   {{job.title | capitalize}}<br><br>
   <strong>Working Hours</strong> <br>
   {{job.shop.working_hours}}<br><br>
   <strong>Requirement</strong> <br>
   {{job.requirement}}<br><br>
   <strong>Department</strong> <br>
   {{job.shop.department }}<br><br>
   <strong>Salary Basis</strong><br>
   {{job.salary_basis}}<br><br>
   <strong>Positions Filled</strong><br>
   {{job.filled }}<br><br>
 </div>

 <div class="spacer" style="height: 40px;"></div>
  
 <center ng-if="loading == false" ng-hide="noApplicants" class="other-text">List of Applicants</center>

  <!-- <ion-item ng-hide="noApplicants" class="other-jobs">
    <span> List of Applicants</span>
    <span id="pages-jobDetail">1 of {{applicants.length}} </span>
  </ion-item> -->


  <!-- <ion-list ng-hide="noApplicants" ng-if="loading == false">
    <ion-item id="applicants-card-jobDetail" class="card item-text-wrap" ng-repeat='item in applicants | filter: query' 
    ng-click="applicantDetail(item.id)" > 
    <div class="home-card">
      <img ng-src="http://ec2-52-14-198-231.us-east-2.compute.amazonaws.com/{{item.image}}" alt="{{ item.name }} Photo" id="applicant-img-card" height="50" width="50">
      <h2 class="item-name"><strong>{{item.name}}</strong>
        <br>
        <span style="font-size: 14px;">
          {{item.address}},{{item.city}}
          <br>
          {{item.state}}
        </span></h2> 
      </div>
      <p class="emp-bio">{{item.describe_yourself | limitTo: 50}} {{ item.describe_yourself.length > 150 ? '&hellip;' : '' }}</p>
    </ion-item>
  </ion-list> -->
  <ion-list ng-hide="noApplicants" ng-if="loading == false">
    <ion-item  id="applicants-shopDetail-card" class="card item-text-wrap" ng-repeat='item in applicants' 
    ng-click="applicantDetail(item.id)" > 
    <div class="home-card h-card row">

      <div class="col col-20">
        <img ng-src="{{item.image}}" alt="{{ item.name }} Photo" id="salesman-img-card" height="55" width="55">
      </div>
      <div class="col col-80 card-content">
        <h2 class="item-name">
          <span class="sal-name">{{item.name | capitalize}}</span>
          <br>
          <span class="item-address">
            {{item.address | limitTo: 50}}
            {{ item.address.length > 50 ? '&hellip;' : '' }}
          </span>
          <br>
          <span class="item-description">{{item.describe_yourself | limitTo: 50}} {{ item.describe_yourself.length > 50 ? '&hellip;' : '' }}</span>
        </h2> 
      </div>
    </div>  
  </ion-item>
</ion-list>

</ion-content>

<ion-floating-button ng-click="openModal()" has-footer="true" button-color="#f99e09" icon="ion-edit" icon-color="#fff">button
</ion-floating-button>

<script id="modal.html" type="text/ng-template">
  <ion-modal-view class="modal-jobDetail">
    <ion-header-bar class="bar-energized">
      <span class="title header-title" style="font-weight: 700">Edit Job Details</span>
      
      <!-- <h1 class="title">Edit Job Details</h1> -->
      <button class="button button-clear button-primary" ng-click="modal.hide()" style="margin-left: 90%;"><i class="icon ion-close-round"></i></button>
    </ion-header-bar>

    <ion-content>
      <!-- <ion-scroll zooming="true" direction="xy" style="width:500px; height:500px"> -->

      <form name="jobform" ng-submit="updateJob(selected,requirement,salary_basis)">

        <div class="list list-lr-padding">

          <!-- <label class="item-input item-floating-label" id="editjob-type" name="job_type">
            <span class="input-label">Job Type</span>
            <span ng-show="jobform.job_type.$touched && jobform.job_type.$invalid" style="color:red" >* Invalid Type</span>
            <input type="text" placeholder="Job type" name="job_type" required ng-model="job_type"
            ng-pattern="/^[a-zA-Z\s]*$/">
          </label> -->

          <label class="item-input item-select" id="editjob-title" name="title">
            <span class="input-label">Job Title</span>
            <span ng-show="jobform.title.$touched && jobform.title.$invalid" style="color:red" >* Invalid Title</span>
<!--             <input type="text" placeholder="Job Title" name="title" required ng-model="title"
ng-pattern="/^[a-zA-Z\s]*$/"> -->
            <select id="job-title" ng-options="item as item.job_title for item in titles track by item.id" name="title" ng-model="selected" required></select>
          </label>



         <!--  <label class=" item-input item-floating-label" id="editjob-workinghours" name="working_hours">
           <span class="input-label">Working Hours</span>
           <span ng-show="jobform.working_hours.$touched && jobform.working_hours.$invalid" style="color:red" >*</span>
           <input type="number" placeholder="Working Hours" name="working_hours" required ng-model="working_hours"  ng-maxlength="2">
         </label> -->

          <label class=" item-input item-floating-label" id="editjob-requirement" name="requirement">
            <span class="input-label">Requirement</span>
            <span ng-show="jobform.requirement.$touched && jobform.requirement.$invalid" style="color:red" >*</span>
            <input type="number" placeholder="Requirement" name="requirement" required ng-model="requirement"  ng-maxlength="2">
          </label>

          <!-- <label class="item-input item-floating-label" id="editjob-department" name="department">
            <span class="input-label">Department</span>
            <span ng-show="jobform.department.$touched && jobform.department.$invalid" style="color:red" >* Invalid</span>
            <input type="text" placeholder="Department" name="department" required ng-model="department"
            ng-pattern="/^[a-zA-Z\s]*$/">
          </label> -->

          <label class=" item-input item-select" id="editjob-salarybasis" name="salary_basis">
            <span class="input-label">Salary Basis</span>
            <span ng-show="jobform.salary_basis.$touched && jobform.salary_basis.$invalid" style="color:red" >*</span>
            <select id="salarybasis" ng-model="salary_basis" name="salary_basis" required>
             <option value="commission">Commission</option>
             <option value="monthly">Monthly</option>
           </select>
         </label>

       <!--   <label class="item-input item-select" id="editjob-status" name="status">
        <span class="input-label">Status</span>
        <span ng-show="jobform.status.$touched && jobform.status.$invalid" style="color:red" >*</span>
          <input type="text" placeholder="Status" name="status" required ng-model="status"
          ng-pattern="/^[a-zA-Z\s]*$/">
          <select id="salarybasis"  ng-model="status" name="status" required>
           <option value="open">Open</option>
           <option value="closed">Closed</option>
         </select>
       </label> -->



         <!-- <label class=" item-input item-floating-label" id="editjob-description" name="description">
          <span class="input-label">Description</span>
          <span ng-show="jobform.description.$touched && jobform.description.$invalid" style="color:red" >*</span>
          <input type="text" placeholder="Description" name="description" required ng-model="description">
                 </label>
          -->



      </div>



      <button style="font-weight:600;border-radius:25px 25px 25px 25px; width: 120px" class="button" id="update-jobDetail-button">Update</button>

    </form>


    <!-- </ion-scroll> -->
    



  </ion-content>

</ion-modal-view>
</script>


</ion-view>

