<ion-view id="page-retailerProfile" view-title="" cache-view="false">
	<ion-nav-title>
		<span class="header-title">Retailer Profile</span>
	</ion-nav-title>
	<ion-content padding="true" class="has-header">
		<div class="spinner" ng-if="loading == true">
			<ion-spinner icon="crescent" class="spinner-energized"></ion-spinner>
		</div>
		<ion-list ng-if="loading == false">
			<ion-item class="item-text-wrap ion-item-radius" id="profile-content">
		<!-- 		<div class="row">
			<div class="col col-25">
				<strong>Name</strong> <br> <br>
				<strong>Email</strong> <br> <br>
				<strong>DOB</strong> <br><br>
				<strong>Mobile</strong> <br><br>
				
			</div>
			<div class="col col-10">
				:<br><br>
				:<br><br>
				:<br><br>
				:<br><br>
				
			</div>
			<div class="col">
				{{retailer.name | capitalize}}<br><br>
				{{retailer.email}}<br><br>
				{{retailerDob | date : 'dd/MM/yyyy'}}<br><br>
				{{retailer.mobile}}<br><br>
				
			</div>
		</div> -->
		<div id="mar-left-ret-add">
			<strong>Name</strong> <br> 
			{{retailer.name | capitalize}}<br><br>
			<strong>Email</strong> <br>
			{{retailer.email}}<br><br>
			<strong>DOB</strong> <br>
			{{retailerDob | date : 'dd/MM/yyyy'}}<br><br>
			<strong>Mobile</strong> <br>
			{{retailer.mobile}}<br><br>
			<strong>Address</strong> <br>
			{{retailer.address | capitalize}},{{retailer.pincode}}
		</div>
	</ion-item>
</ion-list>
</ion-content>

<ion-floating-button ng-click="openModal()" has-footer="true" button-color="#f99e09" icon="ion-edit" icon-color="#fff">button
</ion-floating-button>


<script id="modal.html" type="text/ng-template">
	<ion-modal-view class="modal-edit-retailerProfile">
		<ion-header-bar class="bar-energized">
			<!-- <h1 class="title">Edit Profile</h1> -->
			<span class="title header-title" style="font-weight: 700">Edit Profile</span>

			<button class="button button-clear button-primary" ng-click="modal.hide()" style="margin-left: 90%;"><i class="icon ion-close-round"></i></button>
		</ion-header-bar>
		<ion-content>

			<form name="retailerform" ng-submit="retailerUpdate(name,email,mobile,address,pincode,dob)">

				<div class="list list-lr-padding">

					<label class=" item-input item-floating-label" id="retailer-name" name="name">
						<span class="input-label">Owner Name</span>
						<span ng-show="retailerform.name.$touched && retailerform.name.$invalid" style="color:red" >* Invalid Name</span>
						<input type="text" placeholder="Owner Name" name="name" required ng-model="name"
						ng-pattern="/^[a-zA-Z\s]*$/">
					</label>

					<label class=" item-input item-floating-label" id="retailer-email" name="email">
						<span class="input-label">Email</span>
						<span ng-show="retailerform.email.$touched && retailerform.email.$invalid" style="color:red" >* Enter valid mail</span>
						<input type="email" placeholder="Email" name="email" required ng-model="email">
					</label>

					<label class=" item-input item-floating-label" id="retailer-mobile" name="mobile">
						<span class="input-label">Mobile</span>
						<span ng-show="retailerform.mobile.$touched && retailerform.mobile.$invalid" style="color:red" >* Mobile invalid</span>
						<input type="text" placeholder="Mobile" name="mobile" required ng-model="mobile"  ng-maxlength="12" ng-pattern="/^[789]\d{9}$/">
					</label>

					<label class=" item-input " id="retailer-dob" name="dob">
						<span class="input-label">DOB</span>
						<span ng-show="retailerform.dob.$touched && retailerform.dob.$invalid" style="color:red" >*</span>
						<input type="date" placeholder="DOB" name="dob" required id="dob" ng-model="dob">
					</label>

					<label class=" item-input item-floating-label" id="retailer-address" name="address">
						<span class="input-label">Address</span>
						<span ng-show="retailerform.address.$touched && retailerform.address.$invalid" style="color:red" >*</span>
						<input type="text"  ng-autocomplete ng-model="address" options="options" details="details"/>
					</label>


					<label class="item-input item-floating-label" id="retailer-pincode" name="pincode">
						<span class="input-label">Pincode</span>
						<span ng-show="retailerform.pincode.$touched && retailerform.pincode.$invalid" style="color:red" >*</span>
						<input type="number" placeholder="Pincode" name="pincode" required ng-model="pincode"  ng-maxlength="10" >
					</label>

				</div>
				<button style="font-weight:600;border-radius:25px 25px 25px 25px; width: 120px; text-align: center;" class="button" id="retailerProfile-update-button">Update</button>
			</form>
		</ion-content>
	</ion-modal-view>
</script>
</ion-view>