<ion-view id="page-retailer" style="background-color:#182838;">

  <ion-nav-bar class="bar-energized">
    <ion-nav-back-button class="button-clear">
      <i class="ion-chevron-left"></i>
    </ion-nav-back-button>
    <ion-nav-title>
      <span id="form-title" class="header-title" style="font-weight: 700; text-align: center">Retailer</span>
    </ion-nav-title>
  </ion-nav-bar>

  <ion-content padding="true" class="has-header">
    <form name="retailerform" ng-submit="retailerSubmit(name,email,password,mobile,address,pincode,gender,dob)">
      <div class="list list-lr-padding">
        <label class=" item-input item-floating-label" id="retailer-input1" name="name">
          <span class="input-label">Owner Name</span>
          <span ng-show="retailerform.name.$touched && retailerform.name.$invalid" style="color:red" >* Invalid Name</span>
          <input type="text" placeholder="Owner Name" name="name" required ng-model="name"
          ng-pattern="/^[a-zA-Z\s]*$/">
        </label>

        <label class=" item-input item-floating-label" id="retailer-input2" name="email">
          <span class="input-label">Email</span>
          <span ng-show="retailerform.email.$touched && retailerform.email.$invalid" style="color:red" >* Enter valid mail</span>
          <input type="email" placeholder="Email" name="email" required ng-model="email">
        </label>

        <label class=" item-input item-floating-label" id="retailer-input3" name="password">
          <span class="input-label">Password</span>
          <span ng-show="retailerform.password.$touched && retailerform.password.$invalid" style="color:red" >* Password invalid</span>
          <input type="password" placeholder="Password (min 8 character)" name="password" required ng-model="password" ng-minlength="8" ng-maxlength="20">
        </label>

        <label class=" item-input item-floating-label" id="retailer-input4" name="mobile">
          <span class="input-label">Mobile</span>
          <span ng-show="retailerform.mobile.$touched && retailerform.mobile.$invalid" style="color:red" >* Mobile invalid</span>
          <input type="text" placeholder="Mobile" name="mobile" required ng-model="mobile"  ng-maxlength="12" ng-pattern="/^[789]\d{9}$/">
        </label>

        <label class="item-input item-select" id="retailer-input5" name="gender">
          <span class="input-label">Gender</span>
          <span ng-show="retailerform.gender.$touched && retailerform.gender.$invalid" style="color:red" >*</span>
          <select id="gender" ng-model="gender" name="gender" required>
           <option value="male">Male</option>
           <option value="female">Female</option>
         </select>
       </label>

       <label class=" item-input " id="retailer-input6" name="dob">
        <span class="input-label">Date Of Birth</span>
        <span ng-show="retailerform.dob.$touched && retailerform.dob.$invalid" style="color:red" >*</span>
        <input type="date" value="{{dob}}" placeholder="DOB" name="dob" required id="dob" ng-model="dob">
      </label>

      <label class=" item-input item-floating-label" id="retailer-input7" name="address">
        <span class="input-label">Address</span>
        <span ng-show="retailerform.address.$touched && retailerform.address.$invalid" style="color:red" >*</span>
       <!--  <input type="text" id="pac-input" name="address" placeholder="Enter a location" ng-change='disableTap()' data-tap-disabled="true" ng-model="address" required> -->

        <input type="text" placeholder="Location" name="address" ng-model="address">
      </label>

      <label class=" item-input item-floating-label" id="retailer-input8" name="pincode">
        <span class="input-label">Pincode</span>
        <span ng-show="retailerform.pincode.$touched && retailerform.pincode.$invalid" style="color:red" >*</span>
        <input type="number" placeholder="Pincode" name="pincode" required ng-model="pincode"  ng-maxlength="10">
      </label>

    </div>
    <button class="button" id="retailerform-submit-btn" ng-disabled="retailerform.$invalid">
    Sign up
    </button>
  </form>

</ion-content>

<!-- <script id="location.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" ng-model="search.query" placeholder="Search">
      </label>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item ng-show="search.error">
          {{search.error}}
        </ion-item>
        <ion-item ng-repeat="suggestion in search.suggestions" ng-click="choosePlace(suggestion)">
          {{suggestion.description}}
        </ion-item>
      </ion-list>
      <img src="https://developers.google.com/maps/documentation/places/images/powered-by-google-on-white.png" alt="" />
    </ion-content>
  </ion-modal-view>
</script>
-->

</ion-view>