<ion-view id="page-salesmanProfile" view-title=""   cache-view="false">
  <ion-nav-title>
    <span class="header-title">Salesman Profile</span>
  </ion-nav-title>
  <ion-content padding="true" class="has-header">
    <div class="spinner" ng-if="loading == true">
      <ion-spinner icon="crescent" class="spinner-energized"></ion-spinner>
    </div>
    <!-- <div style="background: url(https://steamuserimages-a.akamaihd.net/ugc/921268119071032677/2A3EF9B2F97679FFCA45E00916779BE3A052E807/) center; background-size: cover; height: 185px;"> -->
    <center>
      <img ng-if="loading == false" ng-src="{{srcImage}}" ng-click="openModal()" id="propic" style="height: 100px; width: 100px; border-radius: 50%; margin-top: 20px; margin-bottom: 10px">
      <center>
       <div ng-if="loading == false" id="upload-plus-icon">
        <img src="img/plus.png"  ng-click="uploadImage()">
        <!-- <a href="#" class="no-decoration" ng-click="uploadImage()" id="my-button">Edit</a> -->
      </div>
    </center>
  </center>
  <ion-list ng-if="loading == false">
    <ion-item class="item-text-wrap ion-item-radius" id="profile-content">
     <!--  <div class="row">
       <div class="col col-25">
         <strong>Name</strong> <br> <br>
         <strong>Email</strong> <br> <br>
         <strong>DOB</strong> <br><br>
         <strong>Mobile</strong> <br><br>
         <strong>Salary</strong> <br><br>
       </div>
       <div class="col col-10">
         :<br><br>
         :<br><br>
         :<br><br>
         :<br><br>
         :<br><br>
       </div>
       <div class="col">
         {{salesman.name}}<br><br>
         {{salesman.email}}<br><br>
         {{salesmanDob | date : 'dd/MM/yyyy'}}<br><br>
         {{salesman.mobile}}<br><br>
         {{salesman.salary_basis}}<br><br>
       </div>
     </div> -->
     <div class="mar-left-sal-aboutadd salesman-details">
      <p><strong>Name</strong></p> 
      <p class="mb-5">{{salesman.name}}</p>

      <p><strong>Email</strong> </p>
      <p class="mb-5">{{salesman.email}}</p>

      <p><strong>DOB</strong> </p>
      <p class="mb-5">{{salesmanDob | date : 'dd/MM/yyyy'}}</p>

      <p><strong>Mobile</strong> </p>
      <p class="mb-5">{{salesman.mobile}}</p>

      <p><strong>Salary</strong> </p>
      <p class="mb-5">{{salesman.salary_basis}}</p>

      <p><strong>About</strong></p>
      <p class="mb-5">{{salesman.describe_yourself}}</p>

      <p><strong>City</strong></p>
      <p class="mb-5">{{salesman.city}}</p>

      <p><strong>State</strong></p>
      <p class="mb-5">{{salesman.state}}</p>

      <p><strong>Pincode</strong></p>
      <p class="mb-5">{{salesman.pincode}}</p>

      <p><strong>Address</strong> </p>
      <p class="mb-5">{{salesman.address}}, {{salesman.address2}}</p>

      <br>
      
      <h2 id="exp-history"> Experience History </h2>

      <strong>Last Worked At</strong> <br>
      {{salesman.experience.company}}<br><br>
      <strong>Total Experience</strong><br>
      {{salesman.total}} years<br><br>
      <strong>Previous Salary</strong> <br>
      {{salesman.experience.salary}}<br><br>


      <button id="addExpHistoryBtn" class="button button-block button-energized" ui-sref="menu.salesmanExperience()" >
      Add Experience History
      </button>
    </div>
  </ion-item>
</ion-list>
</ion-content>
<ion-floating-button ng-if="loading == false" ng-click="editModal()" has-footer="true" button-color="#f99e09" icon="ion-edit" icon-color="#fff">button
</ion-floating-button>
<script id="modal.html" type="text/ng-template">
  <ion-modal-view class="modal-salesmanProfileImage">
    <ion-header-bar class="bar-energized">
      <button class="button button-clear button-primary" ng-click="gridModal.hide()" style="margin-left: 90%;"><i class="icon ion-close-round" style="color: white;"></i></button>
    </ion-header-bar>
    <ion-content> 
      <img ng-src="{{data.selected}}" style="display:block; width:100%; max-width:600px; margin:auto"/>
    </ion-content>
  </ion-modal-view>
</script>

<script id="editmodal.html" type="text/ng-template">
  <ion-modal-view class="modal-salesmanProfile">
    <ion-header-bar class="bar-energized">
      <span class="title header-title" style="font-weight: 700">Edit Profile</span>
      <button class="button button-clear button-primary" ng-click="modal.hide()" style="margin-left: 90%;"><i class="icon ion-close-round"></i></button>
    </ion-header-bar>
    <ion-content>
     <form name="salesmanform" ng-submit="salesmanUpdate(name,email,mobile,address,pincode,salary_basis,dob,describe_yourself)">
       <div class="list list-lr-padding">
        <label class="item-input item-floating-label" id="edit-salesmanProfile-input1" name="name">
          <span class="input-label">Name</span>
          <span ng-show="salesmanform.name.$touched && salesmanform.name.$invalid" style="color:red" >* Invalid Name</span>
          <input type="text" placeholder="Name" name="name" required ng-model="name"
          ng-pattern="/^[a-zA-Z\s]*$/">
        </label>

        <label class=" item-input item-floating-label" id="edit-salesmanProfile-input2" name="email">
          <span class="input-label">Email</span>
          <span ng-show="salesmanform.email.$touched && salesmanform.email.$invalid" style="color:red" >* Enter valid mail</span>
          <input type="email" placeholder="Email" name="email" required ng-model="email">
        </label>

        <label class=" item-input item-floating-label" id="edit-salesmanProfile-input3" name="mobile">
          <span class="input-label">Mobile</span>
          <span ng-show="salesmanform.mobile.$touched && salesmanform.mobile.$invalid" style="color:red" >* Mobile invalid</span>
          <input type="text" placeholder="Mobile" name="mobile" required ng-model="mobile"  ng-maxlength="12" ng-pattern="/^[789]\d{9}$/">
        </label>

        <label class=" item-input " id="edit-salesmanProfile-input4" name="dob">
          <span class="input-label">DOB</span>
          <span ng-show="salesmanform.dob.$touched && salesmanform.dob.$invalid" style="color:red" >*</span>
          <input type="date" placeholder="DOB" name="dob" required id="dob" ng-model="dob">
        </label>

        <label class=" item-input item-floating-label" id="edit-salesmanProfile-input5" name="describeyourself">
          <span class="input-label">Describe Yourself</span>
          <span ng-show="salesmanform.describeyourself.$touched && salesmanform.describeyourself.$invalid" style="color:red" >*</span>
          <input type="text" placeholder="Describe Yourself" name="describe_yourself" required id="describe_yourself" ng-model="describe_yourself">
        </label>

        <label class=" item-input item-select" id="edit-salesmanProfile-input6" name="salarybasis">
          <span class="input-label">Salary Basis</span>
          <span ng-show="salesmanform.salarybasis.$touched && salesmanform.salarybasis.$invalid" style="color:red" >*</span>
          <select id="salarybasis" ng-model="salary_basis" name="salary_basis" required>
            <option value="commission">Commission</option>
            <option value="monthly">Monthly</option>
          </select>
        </label>

        <label class="item-input item-floating-label" id="edit-salesmanProfile-input1" name="city">
          <span class="input-label">City</span>
          <span ng-show="salesmanform.city.$touched && salesmanform.city.$invalid" style="color:red" >* Invalid city</span>
          <input type="text" placeholder="City" name="city" required ng-model="city">
        </label>

        <label class=" item-input item-floating-label" id="edit-salesmanProfile-input7" name="address">
          <span class="input-label">Address</span>
          <span ng-show="salesmanform.address.$touched && salesmanform.address.$invalid" style="color:red" >*</span>
          <input type="text" id="pac-input" ng-change='disableTap()' data-tap-disabled="true" placeholder="Location" ng-model="address"/>
        </label>

      <label class="item-input item-floating-label" id="edit-salesmanProfile-input8" name="pincode">
        <span class="input-label">Pincode</span>
        <span ng-show="salesmanform.pincode.$touched && salesmanform.pincode.$invalid" style="color:red" >*</span>
        <input type="number" placeholder="Pincode" name="pincode" required ng-model="pincode"  ng-maxlength="10" >
      </label>
    </div>
    <button class="button" id="salesmanProfile-update-button">Update</button>
  </form>
</ion-content>
</ion-modal-view>
</script>
</ion-view>