<ion-view id="page-salesman" style="background-color:#182838;">

  <ion-nav-bar class="bar-energized">
    <ion-nav-back-button class="button-clear">
      <i class="ion-chevron-left"></i>
    </ion-nav-back-button>
    <ion-nav-title>
      <span class="title header-title" style="font-weight: 700; text-align: center">Salesman</span>
    </ion-nav-title>
  </ion-nav-bar>

  <ion-content padding="true" class="has-header">
    <form name="salesmanform" ng-submit="salesmanSubmit(name,email,password,mobile,gender,dob,describeyourself,salarybasis,city,state,pincode,address,address2)">
      <div id="salesman-list5" class="list list-lr-padding">
        <center>
          <img ng-src="{{srcImage || salesmanPropic}}" ng-click="openModal()" id="propic" style="height: 100px; width: 100px; border-radius: 50%; margin-top: 20px;">
        </center>

        <center>
          <div class="edit-pic-absolute">
            <img src="img/plus.png"  ng-click="uploadImage()">
          </div>
        </center>

      <label class=" item-input item-floating-label" id="salesman-input1" name="name">
        <span class="input-label">Name</span>
        <span ng-show="salesmanform.name.$touched && salesmanform.name.$invalid" style="color:red" >* Invalid Name</span>
        <input type="text" placeholder="Name" name="name" required ng-model="name"
        ng-pattern="/^[a-zA-Z\s]*$/">
      </label>

      <label class=" item-input item-floating-label" id="salesman-input2" name="email">
        <span class="input-label">Email</span>
        <span ng-show="salesmanform.email.$touched && salesmanform.email.$invalid" style="color:red" >* Enter valid mail</span>
        <input type="email" placeholder="Email" name="email" required ng-model="email">
      </label>

      <label class=" item-input item-floating-label" id="salesman-input3" name="password">
        <span class="input-label">Password</span>
        <span ng-show="salesmanform.password.$touched && salesmanform.password.$invalid" style="color:red" >* Password invalid</span>
        <input type="password" placeholder="Password (min 8 character)" name="password" required ng-model="password" ng-minlength="8" ng-maxlength="20">
      </label>


      <label class=" item-input item-floating-label" id="salesman-input4" name="mobile">
        <span class="input-label">Mobile</span>
        <span ng-show="salesmanform.mobile.$touched && salesmanform.mobile.$invalid" style="color:red" >* Mobile invalid</span>
        <input type="text" placeholder="Mobile" name="mobile" required ng-model="mobile"  ng-maxlength="12" ng-pattern="/^[789]\d{9}$/">
      </label>

      <label class=" item-input item-floating-label" id="salesman-input9" name="city">
        <span class="input-label">City</span>
        <span ng-show="salesmanform.city.$touched && salesmanform.city.$invalid" style="color:red" >*</span>
        <input type="text" placeholder="City" name="city" ng-model="city">
      </label>

      <label class=" item-input item-floating-label" id="salesman-input9" name="state">
        <span class="input-label">State</span>
        <span ng-show="salesmanform.state.$touched && salesmanform.state.$invalid" style="color:red" >*</span>
        <input type="text" placeholder="State" name="state" ng-model="state">
      </label>

      <label class="item-input item-floating-label" id="salesman-input4" name="pincode">
        <span class="input-label">Pincode</span>
        <span ng-show="salesmanform.pincode.$touched && salesmanform.pincode.$invalid" style="color:red" >*</span>
        <input type="number" placeholder="Pincode" name="pincode" required ng-model="pincode"  ng-maxlength="10" >
      </label>
      
      <label class=" item-input item-floating-label" id="salesman-input9" name="address">
        <span class="input-label">Address First Line</span>
        <span ng-show="salesmanform.address.$touched && salesmanform.address.$invalid" style="color:red" >*</span>
        <input type="text" placeholder="Address First Line" name="address" ng-model="address">
      </label>

      <label class=" item-input item-floating-label" id="salesman-input9" name="address2">
        <span class="input-label">Address 2 Line</span>
        <span ng-show="salesmanform.address2.$touched && salesmanform.address2.$invalid" style="color:red" >*</span>
        <input type="text" placeholder="Address Second Line" name="address2" ng-model="address2">
      </label>

      <label class="item-input item-select " id="salesman-input5" name="gender">
        <span class="input-label">Gender</span>
        <!-- <span ng-show="salesmanform.gender.$touched && salesmanform.gender.$invalid" style="color:red" >*</span> -->
        <select id="gender" ng-model="gender" name="gender" required>
         <option value="male">Male</option>
         <option value="female">Female</option>
       </select>
     </label>

     <label class=" item-input " id="salesman-input6" name="dob">
      <span class="input-label">Date Of Birth</span>
      <span ng-show="salesmanform.dob.$touched && salesmanform.dob.$invalid" style="color:red" >*</span>
      <input type="date" value="{{dob}}" placeholder="DOB" name="dob" required id="dob" ng-model="dob">
    </label>


    <label class=" item-input item-select" id="salesman-input8" name="salarybasis">
      <span class="input-label">Salary Basis</span>
      <span ng-show="salesmanform.salarybasis.$touched && salesmanform.salarybasis.$invalid" style="color:red" >*</span>
      <select id="salarybasis" ng-model="salarybasis" name="salarybasis" required>
       <option value="commission">Commission</option>
       <option value="monthly">Monthly</option>
     </select>
   </label>


   <label class=" item-input item-floating-label" id="salesman-input7" name="describeyourself">
    <span class="input-label">Describe Yourself</span>
    <span ng-show="salesmanform.describeyourself.$touched && salesmanform.describeyourself.$invalid" style="color:red" >* Description too long</span>
    <input type="text" placeholder="Describe Yourself (max 250 characters)" name="describeyourself" id="describeyourself" ng-model="describeyourself" ng-maxlength="250">
  </label>

  

</div> 
<br>
<button id="salesman-button5" class="button"  ng-disabled="salesmanform.$invalid">
  Sign up
</button>
</form>

</ion-content>

<script id="modal.html" type="text/ng-template">
  <div class="modal-salesmanRegister" ng-click="closeModal()">
    <ion-content>

      <img ng-src="{{data.selected || salesmanPropic}}" style="display:block; width:100%; max-width:600px; margin:auto"/>

    </ion-content>
  </div>
</script>

<script id="location.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" ng-model="search.query" placeholder="Search">
      </label>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item ng-show="search.error">
          {{search.error}}
        </ion-item>
        <ion-item ng-repeat="suggestion in search.suggestions" ng-click="choosePlace(suggestion)">
          {{suggestion.description}}
        </ion-item>
      </ion-list>
      <img src="https://developers.google.com/maps/documentation/places/images/powered-by-google-on-white.png" alt="" />
    </ion-content>
  </ion-modal-view>
</script>


</ion-view>