#addExperience-save-button{
	background: #0a364f;
	color: #fff;
	display: block;
	margin: 0 auto;	
}

#experience-company,#experience-pincode, #experience-designation,#experience-department,#experience-years,#experience-address,#experience-salary,#experience-fromyear,#experience-toyear{
	border-bottom: 1px solid #546e7a;
}


#experience-company select,#experience-department select{
	background: #182838;
	color: #fff;
	border: none;
	/*width: 0px;*/
}

#yearerror,#depterror{
	color: red;
}

.select-height{
	padding: 25px;
}