#addShop-save-button{
	background: #0a364f;
	color: #fff;
	border: #0a364f;
	display: block;
	margin: 0 auto;
}

#timeerror{
	color: red;
}

.modal-addShop-images{
	height: 100% !important;
	background-color: #182838 !important;
	display: flex !important;
	-webkit-box-direction: normal !important;
	-webkit-box-orient: horizontal !important;
	flex-direction: row !important;
	-webkit-box-align: center !important;
	align-items: center !important;
}


#shop-totime, #shop-fromtime,#shop-name, #shop-totime, #shop-fromtime ,#shop-contact, #shop-year, #shop-address, #shop-pincode, #shop-department{
	border-bottom: 1px solid #546e7a;
}

#shop-totime, #shop-fromtime{
	background: #182838;
	border-bottom: 1px solid #546e7a;
	border-left: none;
	border-right: none; 
}

#shop-department select{
	background: #182838;
	color: #fff;
	border: none;
}