#slide-retailer{
	height: 290px;
}

.home-card{
	flex-direction: row;
	display: flex;
}

.item-name{
	padding-left: 20px;
}

img.img-slider{
	display: block;
	height: 90px;
	width: 90px;
	margin: 0 auto;
	border-radius: 50%;
}

/* img.img-crown{
	display: block;
	height: 30px;
	width: 30px;
	margin: 0 auto;

} */

h2.name{
	text-align: center;
	margin: 10px
}

div.header{
	text-align: center;
	border-color: #F1A010;
}


p.slider-content{
	text-align: center;
	color: black;
}

#slider-topsalesman-head{
	color: #182838;
}

p.emp-bio{
	padding-left: 65px;
}


#sal-card-height,#all-salesman-ion-item .item-content, .other-employees{
	background-color: #0a364f !important;
	color: #fff;
	border:#0a364f ;
}

#sal-card-height p, h2.name {
	color: #fff;
}

#pages-allSalesman{
	padding-left: 99px;	

}

#all-salesman-card-height{
display: block;
height: 109px;

}

#all-salesman-ion-item ion-item{
	border: #0a364f;
}

#allSalesman-img-card{
	border-radius: 50%;
	margin-top: 13px;
}

#sal-card-height{
	display: block;
	height: 190px;
}

#other-jobs 
{
	display: block;
	height: 105px;
}