.modal-editSalesmanExperience{
	height: 100% !important;
	background-color: #182838 !important;
	display: flex !important;
	-webkit-box-direction: normal !important;
	-webkit-box-orient: horizontal !important;
	flex-direction: row !important;
	-webkit-box-align: center !important;
	align-items: center !important;
}

#editExperience-save-button{
	background: #0a364f;
	color: #fff;
	display: block;
	margin: 0 auto;
}

#mar-left-exp-add{
	margin-left: 9px;
}