.card-content h2,h3 {
	color: #fff;
}

.sal-name{
	font-weight: bold;
	font-size: 14px;
}

.item-address{
	font-size: 12px;
}

.item-description{
	font-size: 10px;
}

.ion-item-color ion-item{
	background-color: #0a364f !important;
	border: #0a364f;
	margin: 11px;
}

.ion-item-color{
	margin-top: -8px;
}

#applicant-card-height{
	display: block;
	height: 110px;
}

#salesman-img-card{
    border-radius: 50%;
	margin-top: 13px;
}

/* 
#slaesman-search{
	border-radius: 50px;
	margin-top: 4px;
} */