#pages-jobDetail{
	padding-left: 105px;
}

#applicant-img-card{
	border-radius: 50%;
	margin-top: 13px;

}

#applicants-card-jobDetail, #update-jobDetail-button{
	background: #0a364f;
	color: #fff;
	border: #0a364f;
}

#update-jobDetail-button{
	display: block;
	margin: 0 auto;
}


.modal-jobDetail{
	height: 100% !important;
	background-color: #182838 !important;
	display: flex !important;
	-webkit-box-direction: normal !important;
	-webkit-box-orient: horizontal !important;
	flex-direction: row !important;
	-webkit-box-align: center !important;
	align-items: center !important;
}

#editjob-type, #editjob-title, #editjob-status, #editjob-description, #editjob-salarybasis, #editjob-department, #editjob-requirement, #editjob-workinghours{
	border-bottom: 1px solid #546e7a;
}