	
#login-content{
	background:#182838;
}

.img-login img{
	display: block;
	margin: 54px auto;
}



#email-label,#password-label{
	color: #000 !important;
}

#email-input, #password-input{
	color: #fff !important;
}
.input-box{
	width: 94%;
	background: #546e7a;
	border: #546e7a;
	opacity: 0.5;
	border-radius: 5px;
	margin-bottom: 6px;
	display: block;
	margin: 10px auto;
}

#list-inputs .list{
	margin-top: 69px;
}


#login-button9,#login-button10,#login-button11{
	background: #0a364f;
	color: #fff;
	/*margin-top: 5px;*/
}

#login-button8,#login-button9,#login-button10,#login-button11{
	border-radius: 5px;
	width: 94%;
	display: block;
	margin: 10px auto; 
}


.my-custom-popup{
	.popup-buttons .button{
		background: : #0a364f !important;
	}
}


.custom-active{
	background: black;
}