#retailerProfile-form3 label{
	border-bottom: 1px solid #fff !important;

}

#retailerProfile-button3{
	margin-top: 15px;
}

.shops-list button, .shops-list ion-item, #add-shop{
	background-color: #0a364f !important;
	color: #fff;
	border: #0a364f ;
}