
#salesman-input1,#salesman-input2,#salesman-input3,#salesman-input4,#salesman-input5,#salesman-input6,#salesman-input7,#salesman-input8,#salesman-input9,#salesman-input10,#salesman-input11,#salesman-input12,#salesman-input13
{
	border-bottom: 1px solid #546e7a !important;
}

#salesman-input5,#salesman-input6,#salesman-input8{
	padding-top: 17px;
	padding-bottom: 17px;
}

#salesman-input5 .input-label,#salesman-input6 .input-label,#salesman-input8 .input-label{
	font-weight: normal;
}

#salesman-button5{
	margin-top: 20px;
	background-color: #0a364f !important;
	color: #fff;
	border: #0a364f ;
	font-weight:600;
	border-radius:25px 25px 25px 25px;
	width: 120px;
	display: block;
	margin: 0 auto;
}

/*.salesman-img{
	padding-left: 47px;
	padding-top: 48px;
	}*/
	.edit-pic-absolute
	{
		position: absolute;
		top: 100px;
		left: 54%;
	}
	.edit-pic-absolute img
	{
		height: 25px; 
		width: 25px;
	}

	#salesman-input5,#gender,#salesman-input8,#salarybasis{
		background: #182838;
		color: #ffffff;
	}

	.modal-salesmanRegister .scroll {
		height: 100% !important;
		background-color: #0a364f  !important;

		display: -webkit-box !important;
		display: -moz-box !important;
		display: -ms-flexbox !important;
		display: -webkit-flex !important;
		display: flex !important;

		-webkit-box-direction: normal !important;
		-moz-box-direction: normal !important;
		-webkit-box-orient: horizontal !important;
		-moz-box-orient: horizontal !important;
		-webkit-flex-direction: row !important;
		-ms-flex-direction: row !important;
		flex-direction: row !important;


		-webkit-box-align: center !important;
		-moz-box-align: center !important;
		-webkit-align-items: center !important;
		-ms-flex-align: center !important;
		align-items: center !important;
	}