#appliedJobs-color {
	background-color: #0a364f !important;
	border: #0a364f ;
	display: block;
	height: 100px;
}

#appliedJobs-color h2, #appliedJobs-color p{
	color: #fff;
}

.selected-status{
	background: #4bb543;
    padding: 3px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.rejected-status{
	background: #E74C3C;
    padding: 3px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.applied-status{
	background: #7F8C8D;
    padding: 3px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.gbc h2{
	line-height: 1.4em;
}