#slide-shopimage{
	height: 200px;
}

#no-image{
	color: #fff;
}

#pages-shopDetail{
	padding-left: 99px;
}

#mar-left-shop-add{
	margin-left: 9px;
}
/* 
#mar-left-shop-add span{
	margin-left: 20px;
} */

.btn-shopDetail, #shopDetail-save-button{
	background: #0a364f;
	color: #fff;
	border: #0a364f;
}

#shopDetail-save-button{
	display: block;
	margin: 0 auto;
}

#applicant-img{
	border-radius: 50%;
	margin-top: 13px;
}

.modal-shop-images, .modal-edit-shopDetail{
	height: 100% !important;
	background-color: #182838 !important;
	display: flex !important;
	-webkit-box-direction: normal !important;
	-webkit-box-orient: horizontal !important;
	flex-direction: row !important;
	-webkit-box-align: center !important;
	align-items: center !important;
}