/* General
==================================*/
h1 {
	color: #fff;
	text-shadow: 0 1px 0px #000;
	font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
	border-top: solid 2px #bbb;
	padding-top: 30px;
}

p {
	color: #555;
	margin: 0 0 25px;
}

.scroll {
	height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
	transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
	background-color: #222;
}

.menu h2 {
	bottom: 0;
	font-size: 18px;
	left: 16px;
	position: absolute;
}

.menu .avatar {
	height: 88px;
	width: 88px;
}

.menu.menu-left * {
	font-weight: bold;
}

.menu-open .ion-navicon {
	transform: rotate(-360deg);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
	content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
	background-color: #fff;
	background: url('../img/logo.jpg') center;
	background-size: cover;
	border-radius: 50%;
	height: 113px;
	margin: 0 auto;
	width: 125px;
}

.social-login {
	position: fixed;
	bottom: 0;
}

.field {
	color: white;
}


#page-login,#page-retailer,#page-salesman,#page-homeSalesman,#page-salesmanProfile,#page-salesmanAppliedJobs,#page-salesmanExperience,#page-homeRetailer,#page-retailerProfile, #page-addExperience, #page-addShop, #page-allJobDetail,#page-allSalesman, #page-applicantDetail, #page-experienceDetail, #page-jobDetail,#page-postJob, #page-retailerShops, #page-salesmanAppliedJobs, #page-salesmanDetail,
#page-shopDetail, #page-viewJobs, #page-shopApplicants,#page-otp{
	background-color:#182838;
	font-weight:600;
	font-family: 'Lato', sans-serif;

}


.list input {
	color: white !important;
}


/*ALL TITLES CSS */


.input-label{
	color: #ffffff !important;
}


/* Font Family
==================================*/

*{
	
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	
}

.input-label{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	white-space: normal !important;
	/*	max-width: none !important;*/
	width: 57%;

}

/* Others text
==================================*/

.other-text{
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 19px;
}

.ion-item-radius{
	border-radius: 5px;
}

.header-title, .title{
	font-family: 'Lato', sans-serif;
	font-weight: 700 !important;
}

/* SPINNER STYLE
==================================*/

div.spinner {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	height: 85px;
	text-align: center;
}
.spinner svg {
	width: 9% !important;
	height: 85px !important;
}


/* Lines padding in all forms
==================================*/

.list-lr-padding{
	padding-left: 20px;
	padding-right: 20px;
}


.popup-title {
	color: #000 !important;
}


button:activated, a:activated{
	background: #546e7a;
}



/* Ionic Action sheet buttons color
==================================*/

.action-sheet .button{
	color: rgb(0, 122, 255) !important;
}



.action-sheet .button.destructive{
	color: #ff3b30 !important;
}



/* Back button color
==================================*/

.back-bcolor{
	border-color: #f99e09 !important;
}





.item-select select{
	background: #182838;
	color: #fff !important;
	/*max-width: 0% !important;*/
}

/*css Added by dipesh*/
.no-decoration{
	text-decoration: none;
}
/*css Added by dipesh*/